# Dependencies
node_modules/

# Environment
.env

# Build output
dist/
dist-ssr/

# Logs
*.log
debug.log

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Local overrides
*.local
